{{/* Client methods template - implements ClientInterface */}}

{{- range . }}
{{- $op := . }}
{{- $opid := .GoOperationID }}
{{- $hasParams := .HasParams }}
{{- $pathParams := .PathParams }}
{{- $paramsTypeName := .ParamsTypeName }}

// {{ $opid }}{{ if .HasBody }}WithBody{{ end }} makes a {{ .Method }} request to {{ .Path }}
{{ if .Summary }}// {{ .Summary }}{{ end }}
func (c *Client) {{ $opid }}{{ if .HasBody }}WithBody{{ end }}(ctx context.Context{{ range $pathParams }}, {{ .GoVariableName }} {{ .TypeDecl }}{{ end }}{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}{{ if .HasBody }}, contentType string, body io.Reader{{ end }}, reqEditors ...RequestEditorFn) (*http.Response, error) {
	req, err := New{{ $opid }}Request{{ if .HasBody }}WithBody{{ end }}(c.Server{{ range $pathParams }}, {{ .GoVariableName }}{{ end }}{{ if $hasParams }}, params{{ end }}{{ if .HasBody }}, contentType, body{{ end }})
	if err != nil {
		return nil, err
	}
	req = req.WithContext(ctx)
	if err := c.applyEditors(ctx, req, reqEditors); err != nil {
		return nil, err
	}
	return c.Client.Do(req)
}
{{- range .Bodies }}
{{- if .GenerateTyped }}

// {{ $opid }}{{ .FuncSuffix }} makes a {{ $op.Method }} request to {{ $op.Path }} with {{ .ContentType }} body
func (c *Client) {{ $opid }}{{ .FuncSuffix }}(ctx context.Context{{ range $pathParams }}, {{ .GoVariableName }} {{ .TypeDecl }}{{ end }}{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}, body {{ .GoTypeName }}, reqEditors ...RequestEditorFn) (*http.Response, error) {
	req, err := New{{ $opid }}Request{{ .FuncSuffix }}(c.Server{{ range $pathParams }}, {{ .GoVariableName }}{{ end }}{{ if $hasParams }}, params{{ end }}, body)
	if err != nil {
		return nil, err
	}
	req = req.WithContext(ctx)
	if err := c.applyEditors(ctx, req, reqEditors); err != nil {
		return nil, err
	}
	return c.Client.Do(req)
}
{{- end }}
{{- end }}
{{- end }}
