{{- /*
  This template generates the ServerInterface for Fiber servers.
  Input: []OperationDescriptor
*/ -}}

// ServerInterface represents all server handlers.
type ServerInterface interface {
{{- range . }}
{{ .SummaryAsComment }}
	// ({{ .Method }} {{ .Path }})
	{{ .GoOperationID }}(c fiber.Ctx{{ range .PathParams }}, {{ .GoVariableName }} {{ .TypeDecl }}{{ end }}{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }}) error
{{- end }}
}

// Unimplemented server implementation that returns http.StatusNotImplemented for each endpoint.
type Unimplemented struct{}

{{- range . }}
{{ .SummaryAsComment }}
// ({{ .Method }} {{ .Path }})
func (_ Unimplemented) {{ .GoOperationID }}(c fiber.Ctx{{ range .PathParams }}, {{ .GoVariableName }} {{ .TypeDecl }}{{ end }}{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }}) error {
	return c.SendStatus(fiber.StatusNotImplemented)
}
{{- end }}
