{{- /*
  This template generates the receiver interface and handler functions for Fiber.
  Input: ReceiverTemplateData
*/ -}}

// {{ .Prefix }}ReceiverInterface represents handlers for receiving {{ .PrefixLower }} requests.
type {{ .Prefix }}ReceiverInterface interface {
{{- range .Operations }}
{{ .SummaryAsComment }}
	// Handle{{ .GoOperationID }}{{ $.Prefix }} handles the {{ .Method }} {{ $.PrefixLower }} request.
	Handle{{ .GoOperationID }}{{ $.Prefix }}(c fiber.Ctx{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }}) error
{{- end }}
}

{{ range .Operations }}
// {{ .GoOperationID }}{{ $.Prefix }}Handler returns a fiber.Handler for the {{ .GoOperationID }} {{ $.PrefixLower }}.
// The caller is responsible for registering this handler at the appropriate path.
func {{ .GoOperationID }}{{ $.Prefix }}Handler(si {{ $.Prefix }}ReceiverInterface) fiber.Handler {
	return func(c fiber.Ctx) error {
{{- if .HasParams }}
		var err error
		_ = err

		var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
{{- if or .Required .IsPassThrough .IsJSON }}
		if paramValue := c.Query("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			err = json.Unmarshal([]byte(paramValue), &value)
			if err != nil {
				return fiber.NewError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			return fiber.NewError(http.StatusBadRequest, "Query parameter {{ .Name }} is required")
		}{{ end }}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, c.Queries(), &params.{{ .GoName }})
		if err != nil {
			return fiber.NewError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
{{- end }}
{{ end }}
{{ range .HeaderParams }}
		{
			headerValue := c.Get("{{ .Name }}")
			if headerValue != "" {
				var {{ .GoVariableName }} {{ .TypeDecl }}
{{- if .IsStyled }}
				err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, headerValue, &{{ .GoVariableName }})
				if err != nil {
					return fiber.NewError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
				}
{{- end }}
				params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
			}{{ if .Required }} else {
				return fiber.NewError(http.StatusBadRequest, "Header parameter {{ .Name }} is required")
			}{{ end }}
		}
{{ end }}
{{- end }}
		return si.Handle{{ .GoOperationID }}{{ $.Prefix }}(c{{ if .HasParams }}, params{{ end }})
	}
}
{{ end }}
