{{- /*
  This template generates the ServerInterfaceWrapper that extracts parameters
  from HTTP requests and calls the ServerInterface methods for Fiber.
  Input: []OperationDescriptor
*/ -}}

// ServerInterfaceWrapper converts contexts to parameters.
type ServerInterfaceWrapper struct {
	Handler ServerInterface
}

{{ range . }}
// {{ .GoOperationID }} operation middleware
func (siw *ServerInterfaceWrapper) {{ .GoOperationID }}(c fiber.Ctx) error {
{{- if or .PathParams .HasParams }}
	var err error
{{- end }}
{{ range .PathParams }}
	// ------------- Path parameter "{{ .Name }}" -------------
	var {{ .GoVariableName }} {{ .TypeDecl }}
{{ if .IsPassThrough }}
	{{ .GoVariableName }} = c.Params("{{ .Name }}")
{{- end }}
{{- if .IsJSON }}
	err = json.Unmarshal([]byte(c.Params("{{ .Name }}")), &{{ .GoVariableName }})
	if err != nil {
		return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON: %s", "{{ .Name }}", err))
	}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", ParamLocationPath, c.Params("{{ .Name }}"), &{{ .GoVariableName }})
	if err != nil {
		return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
	}
{{- end }}
{{ end }}
{{- if .Security }}
{{- range .Security }}
	c.Locals({{ .Name | toGoIdentifier }}Scopes, []string{ {{- range $i, $s := .Scopes }}{{ if $i }}, {{ end }}"{{ $s }}"{{ end -}} })
{{- end }}
{{- end }}
{{ if .HasParams }}
	// Parameter object where we will unmarshal all parameters from the context
	var params {{ .ParamsTypeName }}
{{ if .QueryParams }}
	var query url.Values
	query, err = url.ParseQuery(string(c.Request().URI().QueryString()))
	if err != nil {
		return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Invalid format for query string: %s", err))
	}
{{ end }}
{{ range .QueryParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} query parameter "{{ .Name }}" -------------
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, query, &params.{{ .GoName }})
	if err != nil {
		return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
	}
{{- else if or .Required .IsPassThrough .IsJSON }}
	if paramValue := c.Query("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		err = json.Unmarshal([]byte(paramValue), &value)
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON: %s", "{{ .Name }}", err))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		return fiber.NewError(fiber.StatusBadRequest, "Query argument {{ .Name }} is required, but not found")
	}{{ end }}
{{- end }}
{{ end }}
{{ if .HeaderParams }}
	headers := c.GetReqHeaders()
{{ range .HeaderParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} header parameter "{{ .Name }}" -------------
	if valueList, found := headers[http.CanonicalHeaderKey("{{ .Name }}")]; found && len(valueList) > 0 {
		var {{ .GoVariableName }} {{ .TypeDecl }}
		value := valueList[0]
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsJSON }}
		err = json.Unmarshal([]byte(value), &{{ .GoVariableName }})
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON: %s", "{{ .Name }}", err))
		}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, value, &{{ .GoVariableName }})
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
{{- end }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
	}{{ if .Required }} else {
		return fiber.NewError(fiber.StatusBadRequest, "Header parameter {{ .Name }} is required, but not found")
	}{{ end }}
{{ end }}
{{ end }}
{{ range .CookieParams }}
	if cookie := c.Cookies("{{ .Name }}"); cookie != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}cookie
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		decoded, err := url.QueryUnescape(cookie)
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Error unescaping cookie parameter '%s': %s", "{{ .Name }}", err))
		}
		err = json.Unmarshal([]byte(decoded), &value)
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON: %s", "{{ .Name }}", err))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsStyled }}
		var value {{ .TypeDecl }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationCookie, cookie, &value)
		if err != nil {
			return fiber.NewError(fiber.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		return fiber.NewError(fiber.StatusBadRequest, "Query argument {{ .Name }} is required, but not found")
	}{{ end }}
{{ end }}
{{ end }}
	return siw.Handler.{{ .GoOperationID }}(c{{ range .PathParams }}, {{ .GoVariableName }}{{ end }}{{ if .HasParams }}, params{{ end }})
}
{{ end }}
