type StrictHandlerFunc func(ctx context.Context, w http.ResponseWriter, r *http.Request, args interface{}) interface{}

type StrictMiddlewareFunc func(f StrictHandlerFunc, operationID string) StrictHandlerFunc

type StrictHTTPServerOptions struct {
    RequestErrorHandlerFunc  func(w http.ResponseWriter, r *http.Request, err error)
    ResponseErrorHandlerFunc func(w http.ResponseWriter, r *http.Request, err error)
}

func NewStrictHandler(ssi StrictServerInterface, middlewares []StrictMiddlewareFunc) ServerInterface {
    return &strictHandler{ssi: ssi, middlewares: middlewares, options: StrictHTTPServerOptions {
        RequestErrorHandlerFunc: func(w http.ResponseWriter, r *http.Request, err error) {
            http.Error(w, err.Error(), http.StatusBadRequest)
        },
        ResponseErrorHandlerFunc: func(w http.ResponseWriter, r *http.Request, err error) {
            http.Error(w, err.Error(), http.StatusInternalServerError)
        },
    }}
}

func NewStrictHandlerWithOptions(ssi StrictServerInterface, middlewares []StrictMiddlewareFunc, options StrictHTTPServerOptions) ServerInterface {
    return &strictHandler{ssi: ssi, middlewares: middlewares, options: options}
}

type strictHandler struct {
    ssi StrictServerInterface
    middlewares []StrictMiddlewareFunc
    options StrictHTTPServerOptions
}

{{range .}}
    {{$opid := .OperationId}}
    // {{$opid}} operation middleware
    func (sh *strictHandler) {{.OperationId}}(w http.ResponseWriter, r *http.Request{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) {
        var request {{$opid | ucFirst}}RequestObject

        {{range .PathParams -}}
            {{$varName := .GoVariableName -}}
            request.{{$varName | ucFirst}} = {{$varName}}
        {{end -}}

        {{if .RequiresParamObject -}}
            request.Params = params
        {{end -}}

        {{ if .HasMaskedRequestContentTypes -}}
            request.ContentType = r.Header.Get("Content-Type")
        {{end -}}

        {{$multipleBodies := gt (len .Bodies) 1 -}}
        {{range .Bodies -}}
            {{if $multipleBodies}}if strings.HasPrefix(r.Header.Get("Content-Type"), "{{.ContentType}}") { {{end}}
                {{if eq .NameTag "JSON" -}}
                    var body {{$opid}}{{.NameTag}}RequestBody
                    if err := json.NewDecoder(r.Body).Decode(&body); err != nil {
                        sh.options.RequestErrorHandlerFunc(w, r, fmt.Errorf("can't decode JSON body: %w", err))
                        return
                    }
                    request.{{if $multipleBodies}}{{.NameTag}}{{end}}Body = &body
                {{else if eq .NameTag "Formdata" -}}
                    if err := r.ParseForm(); err != nil {
                        sh.options.RequestErrorHandlerFunc(w, r, fmt.Errorf("can't decode formdata: %w", err))
                        return
                    }
                    var body {{$opid}}{{.NameTag}}RequestBody
                    if err := runtime.BindForm(&body, r.Form, nil, nil); err != nil {
                        sh.options.RequestErrorHandlerFunc(w, r, fmt.Errorf("can't bind formdata: %w", err))
                        return
                    }
                    request.{{if $multipleBodies}}{{.NameTag}}{{end}}Body = &body
                {{else if eq .NameTag "Multipart" -}}
                    if reader, err := r.MultipartReader(); err != nil {
                        sh.options.RequestErrorHandlerFunc(w, r, fmt.Errorf("can't decode multipart body: %w", err))
                        return
                    } else {
                        request.{{if $multipleBodies}}{{.NameTag}}{{end}}Body = reader
                    }
                {{else if eq .NameTag "Text" -}}
                    data, err := ioutil.ReadAll(r.Body)
                    if err != nil {
                        sh.options.RequestErrorHandlerFunc(w, r, fmt.Errorf("can't read body: %w", err))
                        return
                    }
                    body := {{$opid}}{{.NameTag}}RequestBody(data)
                    request.{{if $multipleBodies}}{{.NameTag}}{{end}}Body = &body
                {{else -}}
                    request.{{if $multipleBodies}}{{.NameTag}}{{end}}Body = r.Body
                {{end}}{{/* if eq .NameTag "JSON" */ -}}
            {{if $multipleBodies}}}{{end}}
        {{end}}{{/* range .Bodies */}}

        handler := func(ctx context.Context, w http.ResponseWriter, r *http.Request, request interface{}) interface{}{
            return sh.ssi.{{.OperationId}}(ctx, request.({{$opid | ucFirst}}RequestObject))
        }
        for _, middleware := range sh.middlewares {
            handler = middleware(handler, "{{.OperationId}}")
        }

        response := handler(r.Context(), w, r, request)

        switch v := response.(type) {
            {{range .Responses -}}
                {{$statusCode := .StatusCode -}}
                {{$fixedStatusCode := .HasFixedStatusCode -}}
                {{$headers := .Headers -}}
                {{range .Contents -}}
                    case {{$opid}}{{$statusCode}}{{.NameTagOrContentType}}Response:
                    {{range $headers -}}
                        w.Header().Set("{{.Name}}", fmt.Sprint(v.Headers.{{.GoName}}))
                    {{end -}}
                    {{if eq .NameTag "Multipart" -}}
                        writer := multipart.NewWriter(w)
                    {{end -}}
                    w.Header().Set("Content-Type", {{if eq .NameTag "Multipart"}}writer.FormDataContentType(){{else if .HasFixedContentType }}"{{.ContentType}}"{{else}}v.ContentType{{end}})
                    {{if not .IsSupported -}}
                        if v.ContentLength != 0 {
                            w.Header().Set("Content-Length", fmt.Sprint(v.ContentLength))
                        }
                    {{end -}}
                    w.WriteHeader({{if $fixedStatusCode}}{{$statusCode}}{{else}}v.StatusCode{{end}})
                    {{if eq .NameTag "JSON" -}}
                        writeJSON(w, v)
                    {{else if eq .NameTag "Text" -}}
                        writeRaw(w, ([]byte)(v))
                    {{else if eq .NameTag "Formdata" -}}
                        if form, err := runtime.MarshalForm(v, nil); err != nil {
                            fmt.Fprintln(w, err)
                        } else {
                            writeRaw(w, []byte(form.Encode()))
                        }
                    {{else if eq .NameTag "Multipart" -}}
                        defer writer.Close()
                        if err := v(writer); err != nil {
                            sh.options.ResponseErrorHandlerFunc(w, r, err)
                        }
                    {{else -}}
                        if closer, ok := v.Body.(io.ReadCloser); ok {
                            defer closer.Close()
                        }
                        _, _ = io.Copy(w, v.Body)
                    {{end}}{{/* if eq .NameTag "JSON" */ -}}
                {{end}}{{/* range .Contents */ -}}
                {{if eq 0 (len .Contents) -}}
                    case {{$opid}}{{$statusCode}}Response:
                    {{range $headers -}}
                        w.Header().Set("{{.Name}}", fmt.Sprint(v.Headers.{{.GoName}}))
                    {{end -}}
                    w.WriteHeader({{if $fixedStatusCode}}{{$statusCode}}{{else}}v.StatusCode{{end}})
                {{end}}{{/* if eq 0 (len .Contents) */ -}}
            {{end}}{{/* range .Responses */ -}}
            case error:
                sh.options.ResponseErrorHandlerFunc(w, r, v)
            case nil:
            default:
                sh.options.ResponseErrorHandlerFunc(w, r, fmt.Errorf("Unexpected response type: %T", v))
        }
    }
{{end}}

func writeJSON(w http.ResponseWriter, v interface{}) {
    if err := json.NewEncoder(w).Encode(v); err != nil {
        fmt.Fprintln(w, err)
    }
}

func writeRaw(w http.ResponseWriter, b []byte) {
    if _, err := w.Write(b); err != nil {
        fmt.Fprintln(w, err)
    }
}
