{{/* Initiator interface template */}}
{{/* Input: InitiatorTemplateData */}}

// {{ .Prefix }}InitiatorInterface is the interface specification for the {{ .PrefixLower }} initiator.
type {{ .Prefix }}InitiatorInterface interface {
{{- range .Operations }}
{{- $opid := .GoOperationID }}
{{- $hasParams := .HasParams }}
{{- $paramsTypeName := .ParamsTypeName }}
{{- $prefixLower := $.PrefixLower }}
	// {{ $opid }}{{ if .HasBody }}WithBody{{ end }} sends a {{ .Method }} {{ $prefixLower }} request
	{{ $opid }}{{ if .HasBody }}WithBody{{ end }}(ctx context.Context, targetURL string{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}{{ if .HasBody }}, contentType string, body io.Reader{{ end }}, reqEditors ...RequestEditorFn) (*http.Response, error)
{{- range .Bodies }}
{{- if .GenerateTyped }}
	{{ $opid }}{{ .FuncSuffix }}(ctx context.Context, targetURL string{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}, body {{ .GoTypeName }}, reqEditors ...RequestEditorFn) (*http.Response, error)
{{- end }}
{{- end }}
{{- end }}
}
