{{/* Initiator request builder functions template */}}
{{/* Input: InitiatorTemplateData */}}

{{- range .Operations }}
{{- $op := . }}
{{- $opid := .GoOperationID }}
{{- $hasParams := .HasParams }}
{{- $paramsTypeName := .ParamsTypeName }}
{{- $queryParams := .QueryParams }}
{{- $headerParams := .HeaderParams }}
{{- $cookieParams := .CookieParams }}
{{- $prefix := $.Prefix }}
{{- $prefixLower := $.PrefixLower }}

{{- /* Generate typed body request builders for JSON bodies */ -}}
{{- range .Bodies }}
{{- if .IsJSON }}

// New{{ $opid }}{{ $prefix }}Request{{ .FuncSuffix }} creates a {{ $op.Method }} request for the {{ $prefixLower }} with {{ .ContentType }} body
func New{{ $opid }}{{ $prefix }}Request{{ .FuncSuffix }}(targetURL string{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}, body {{ .GoTypeName }}) (*http.Request, error) {
	var bodyReader io.Reader
	buf, err := json.Marshal(body)
	if err != nil {
		return nil, err
	}
	bodyReader = bytes.NewReader(buf)
	return New{{ $opid }}{{ $prefix }}RequestWithBody(targetURL{{ if $hasParams }}, params{{ end }}, "{{ .ContentType }}", bodyReader)
}
{{- end }}
{{- end }}

// New{{ $opid }}{{ $prefix }}Request{{ if .HasBody }}WithBody{{ end }} creates a {{ .Method }} request for the {{ $prefixLower }}{{ if .HasBody }} with any body{{ end }}
func New{{ $opid }}{{ $prefix }}Request{{ if .HasBody }}WithBody{{ end }}(targetURL string{{ if $hasParams }}, params *{{ $paramsTypeName }}{{ end }}{{ if .HasBody }}, contentType string, body io.Reader{{ end }}) (*http.Request, error) {
	var err error

	parsedURL, err := url.Parse(targetURL)
	if err != nil {
		return nil, err
	}
{{- if $queryParams }}

	if params != nil {
		queryValues := parsedURL.Query()
{{- range $idx, $param := $queryParams }}
		{{- if .HasOptionalPointer }}
		if params.{{ .GoName }} != nil {
		{{- end }}
		{{- if .IsPassThrough }}
		queryValues.Add("{{ .Name }}", {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }})
		{{- else if .IsJSON }}
		if queryParamBuf, err := json.Marshal({{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }}); err != nil {
			return nil, err
		} else {
			queryValues.Add("{{ .Name }}", string(queryParamBuf))
		}
		{{- else if .IsStyled }}
		if queryFrag, err := {{ .StyleFunc }}("{{ .Name }}", ParamLocationQuery, {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }}); err != nil {
			return nil, err
		} else if parsed, err := url.ParseQuery(queryFrag); err != nil {
			return nil, err
		} else {
			for k, v := range parsed {
				for _, v2 := range v {
					queryValues.Add(k, v2)
				}
			}
		}
		{{- end }}
		{{- if .HasOptionalPointer }}
		}
		{{- end }}
{{- end }}
		parsedURL.RawQuery = queryValues.Encode()
	}
{{- end }}

	req, err := http.NewRequest("{{ .Method }}", parsedURL.String(), {{ if .HasBody }}body{{ else }}nil{{ end }})
	if err != nil {
		return nil, err
	}

	{{ if .HasBody }}req.Header.Add("Content-Type", contentType){{ end }}
{{- if $headerParams }}

	if params != nil {
{{- range $idx, $param := $headerParams }}
		{{- if .HasOptionalPointer }}
		if params.{{ .GoName }} != nil {
		{{- end }}
		var headerParam{{ $idx }} string
		{{- if .IsPassThrough }}
		headerParam{{ $idx }} = {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }}
		{{- else if .IsJSON }}
		var headerParamBuf{{ $idx }} []byte
		headerParamBuf{{ $idx }}, err = json.Marshal({{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }})
		if err != nil {
			return nil, err
		}
		headerParam{{ $idx }} = string(headerParamBuf{{ $idx }})
		{{- else if .IsStyled }}
		headerParam{{ $idx }}, err = {{ .StyleFunc }}("{{ .Name }}", ParamLocationHeader, {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }})
		if err != nil {
			return nil, err
		}
		{{- end }}
		req.Header.Set("{{ .Name }}", headerParam{{ $idx }})
		{{- if .HasOptionalPointer }}
		}
		{{- end }}
{{- end }}
	}
{{- end }}
{{- if $cookieParams }}

	if params != nil {
{{- range $idx, $param := $cookieParams }}
		{{- if .HasOptionalPointer }}
		if params.{{ .GoName }} != nil {
		{{- end }}
		var cookieParam{{ $idx }} string
		{{- if .IsPassThrough }}
		cookieParam{{ $idx }} = {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }}
		{{- else if .IsJSON }}
		var cookieParamBuf{{ $idx }} []byte
		cookieParamBuf{{ $idx }}, err = json.Marshal({{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }})
		if err != nil {
			return nil, err
		}
		cookieParam{{ $idx }} = url.QueryEscape(string(cookieParamBuf{{ $idx }}))
		{{- else if .IsStyled }}
		cookieParam{{ $idx }}, err = StyleSimpleParam("{{ .Name }}", ParamLocationCookie, {{ if .HasOptionalPointer }}*{{ end }}params.{{ .GoName }})
		if err != nil {
			return nil, err
		}
		{{- end }}
		cookie{{ $idx }} := &http.Cookie{
			Name:  "{{ .Name }}",
			Value: cookieParam{{ $idx }},
		}
		req.AddCookie(cookie{{ $idx }})
		{{- if .HasOptionalPointer }}
		}
		{{- end }}
{{- end }}
	}
{{- end }}

	return req, nil
}
{{- end }}
