{{- /*
  This template generates the receiver interface and handler functions for Gin.
  Input: ReceiverTemplateData
*/ -}}

// {{ .Prefix }}ReceiverInterface represents handlers for receiving {{ .PrefixLower }} requests.
type {{ .Prefix }}ReceiverInterface interface {
{{- range .Operations }}
{{ .SummaryAsComment }}
	// Handle{{ .GoOperationID }}{{ $.Prefix }} handles the {{ .Method }} {{ $.PrefixLower }} request.
	Handle{{ .GoOperationID }}{{ $.Prefix }}(c *gin.Context{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }})
{{- end }}
}

{{ range .Operations }}
// {{ .GoOperationID }}{{ $.Prefix }}Handler returns a gin.HandlerFunc for the {{ .GoOperationID }} {{ $.PrefixLower }}.
// The caller is responsible for registering this handler at the appropriate path.
func {{ .GoOperationID }}{{ $.Prefix }}Handler(si {{ $.Prefix }}ReceiverInterface) gin.HandlerFunc {
	return func(c *gin.Context) {
{{- if .HasParams }}
		var err error
		_ = err

		var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
{{- if or .Required .IsPassThrough .IsJSON }}
		if paramValue := c.Query("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			err = json.Unmarshal([]byte(paramValue), &value)
			if err != nil {
				c.JSON(http.StatusBadRequest, gin.H{"error": fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err)})
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			c.JSON(http.StatusBadRequest, gin.H{"error": "Query parameter {{ .Name }} is required"})
			return
		}{{ end }}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, c.Request.URL.Query(), &params.{{ .GoName }})
		if err != nil {
			c.JSON(http.StatusBadRequest, gin.H{"error": fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err)})
			return
		}
{{- end }}
{{ end }}
{{ range .HeaderParams }}
		if valueList := c.Request.Header[http.CanonicalHeaderKey("{{ .Name }}")]; len(valueList) > 0 {
			var {{ .GoVariableName }} {{ .TypeDecl }}
			n := len(valueList)
			if n != 1 {
				c.JSON(http.StatusBadRequest, gin.H{"error": fmt.Sprintf("Expected one value for {{ .Name }}, got %d", n)})
				return
			}
{{- if .IsStyled }}
			err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
			if err != nil {
				c.JSON(http.StatusBadRequest, gin.H{"error": fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err)})
				return
			}
{{- end }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
		}{{ if .Required }} else {
			c.JSON(http.StatusBadRequest, gin.H{"error": "Header parameter {{ .Name }} is required"})
			return
		}{{ end }}
{{ end }}
{{- end }}
		si.Handle{{ .GoOperationID }}{{ $.Prefix }}(c{{ if .HasParams }}, params{{ end }})
	}
}
{{ end }}
