{{- /*
  This template generates the ServerInterfaceWrapper that extracts parameters
  from HTTP requests and calls the ServerInterface methods for Gin.
  Input: []OperationDescriptor
*/ -}}

// ServerInterfaceWrapper converts contexts to parameters.
type ServerInterfaceWrapper struct {
	Handler            ServerInterface
	HandlerMiddlewares []MiddlewareFunc
	ErrorHandler       func(*gin.Context, error, int)
}

// MiddlewareFunc is a middleware function type.
type MiddlewareFunc func(c *gin.Context)

{{ range . }}
// {{ .GoOperationID }} operation middleware
func (siw *ServerInterfaceWrapper) {{ .GoOperationID }}(c *gin.Context) {
{{- if or .PathParams .HasParams }}
	var err error
{{- end }}
{{ range .PathParams }}
	// ------------- Path parameter "{{ .Name }}" -------------
	var {{ .GoVariableName }} {{ .TypeDecl }}
{{ if .IsPassThrough }}
	{{ .GoVariableName }} = c.Param("{{ .Name }}")
{{- end }}
{{- if .IsJSON }}
	err = json.Unmarshal([]byte(c.Param("{{ .Name }}")), &{{ .GoVariableName }})
	if err != nil {
		siw.ErrorHandler(c, fmt.Errorf("Error unmarshaling parameter '{{ .Name }}' as JSON"), http.StatusBadRequest)
		return
	}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", ParamLocationPath, c.Param("{{ .Name }}"), &{{ .GoVariableName }})
	if err != nil {
		siw.ErrorHandler(c, fmt.Errorf("Invalid format for parameter {{ .Name }}: %w", err), http.StatusBadRequest)
		return
	}
{{- end }}
{{ end }}
{{- if .Security }}
{{- range .Security }}
	c.Set({{ .Name | toGoIdentifier }}Scopes, []string{ {{- range $i, $s := .Scopes }}{{ if $i }}, {{ end }}"{{ $s }}"{{ end -}} })
{{- end }}
{{- end }}
{{ if .HasParams }}
	// Parameter object where we will unmarshal all parameters from the context
	var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} query parameter "{{ .Name }}" -------------
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, c.Request.URL.Query(), &params.{{ .GoName }})
	if err != nil {
		siw.ErrorHandler(c, fmt.Errorf("Invalid format for parameter {{ .Name }}: %w", err), http.StatusBadRequest)
		return
	}
{{- else if or .Required .IsPassThrough .IsJSON }}
	if paramValue := c.Query("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		err = json.Unmarshal([]byte(paramValue), &value)
		if err != nil {
			siw.ErrorHandler(c, fmt.Errorf("Error unmarshaling parameter '{{ .Name }}' as JSON: %w", err), http.StatusBadRequest)
			return
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		siw.ErrorHandler(c, fmt.Errorf("Query argument {{ .Name }} is required, but not found"), http.StatusBadRequest)
		return
	}{{ end }}
{{- end }}
{{ end }}
{{ if .HeaderParams }}
	headers := c.Request.Header
{{ range .HeaderParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} header parameter "{{ .Name }}" -------------
	if valueList, found := headers[http.CanonicalHeaderKey("{{ .Name }}")]; found {
		var {{ .GoVariableName }} {{ .TypeDecl }}
		n := len(valueList)
		if n != 1 {
			siw.ErrorHandler(c, fmt.Errorf("Expected one value for {{ .Name }}, got %d", n), http.StatusBadRequest)
			return
		}
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}valueList[0]
{{- end }}
{{- if .IsJSON }}
		err = json.Unmarshal([]byte(valueList[0]), &{{ .GoVariableName }})
		if err != nil {
			siw.ErrorHandler(c, fmt.Errorf("Error unmarshaling parameter '{{ .Name }}' as JSON"), http.StatusBadRequest)
			return
		}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
		if err != nil {
			siw.ErrorHandler(c, fmt.Errorf("Invalid format for parameter {{ .Name }}: %w", err), http.StatusBadRequest)
			return
		}
{{- end }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
	}{{ if .Required }} else {
		siw.ErrorHandler(c, fmt.Errorf("Header parameter {{ .Name }} is required, but not found"), http.StatusBadRequest)
		return
	}{{ end }}
{{ end }}
{{ end }}
{{ range .CookieParams }}
	{
		var cookie string
		if cookie, err = c.Cookie("{{ .Name }}"); err == nil {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}cookie
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			decoded, err := url.QueryUnescape(cookie)
			if err != nil {
				siw.ErrorHandler(c, fmt.Errorf("Error unescaping cookie parameter '{{ .Name }}'"), http.StatusBadRequest)
				return
			}
			err = json.Unmarshal([]byte(decoded), &value)
			if err != nil {
				siw.ErrorHandler(c, fmt.Errorf("Error unmarshaling parameter '{{ .Name }}' as JSON"), http.StatusBadRequest)
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsStyled }}
			var value {{ .TypeDecl }}
			err = {{ .BindFunc }}("{{ .Name }}", ParamLocationCookie, cookie, &value)
			if err != nil {
				siw.ErrorHandler(c, fmt.Errorf("Invalid format for parameter {{ .Name }}: %w", err), http.StatusBadRequest)
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			siw.ErrorHandler(c, fmt.Errorf("Query argument {{ .Name }} is required, but not found"), http.StatusBadRequest)
			return
		}{{ end }}
	}
{{ end }}
{{ end }}
	for _, middleware := range siw.HandlerMiddlewares {
		middleware(c)
		if c.IsAborted() {
			return
		}
	}

	siw.Handler.{{ .GoOperationID }}(c{{ range .PathParams }}, {{ .GoVariableName }}{{ end }}{{ if .HasParams }}, params{{ end }})
}
{{ end }}
