{{- /*
  This template generates the ServerInterfaceWrapper that extracts parameters
  from HTTP requests and calls the ServerInterface methods for Chi.
  Input: []OperationDescriptor
*/ -}}

// ServerInterfaceWrapper converts HTTP requests to parameters.
type ServerInterfaceWrapper struct {
	Handler            ServerInterface
	HandlerMiddlewares []MiddlewareFunc
	ErrorHandlerFunc   func(w http.ResponseWriter, r *http.Request, err error)
}

// MiddlewareFunc is a middleware function type.
type MiddlewareFunc func(http.Handler) http.Handler

{{ range . }}
// {{ .GoOperationID }} operation middleware
func (siw *ServerInterfaceWrapper) {{ .GoOperationID }}(w http.ResponseWriter, r *http.Request) {
{{- if or .PathParams .HasParams }}
	var err error
{{- end }}
{{ range .PathParams }}
	// ------------- Path parameter "{{ .Name }}" -------------
	var {{ .GoVariableName }} {{ .TypeDecl }}
{{ if .IsPassThrough }}
	{{ .GoVariableName }} = chi.URLParam(r, "{{ .Name }}")
{{- end }}
{{- if .IsJSON }}
	err = json.Unmarshal([]byte(chi.URLParam(r, "{{ .Name }}")), &{{ .GoVariableName }})
	if err != nil {
		siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{ .Name }}", Err: err})
		return
	}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", ParamLocationPath, chi.URLParam(r, "{{ .Name }}"), &{{ .GoVariableName }})
	if err != nil {
		siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{ .Name }}", Err: err})
		return
	}
{{- end }}
{{ end }}
{{- if .Security }}
	ctx := r.Context()
{{- range .Security }}
	ctx = context.WithValue(ctx, {{ .Name | toGoIdentifier }}Scopes, []string{ {{- range $i, $s := .Scopes }}{{ if $i }}, {{ end }}"{{ $s }}"{{ end -}} })
{{- end }}
	r = r.WithContext(ctx)
{{- end }}
{{ if .HasParams }}
	// Parameter object where we will unmarshal all parameters from the context
	var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} query parameter "{{ .Name }}" -------------
{{- if or .Required .IsPassThrough .IsJSON }}
	if paramValue := r.URL.Query().Get("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		err = json.Unmarshal([]byte(paramValue), &value)
		if err != nil {
			siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{ .Name }}", Err: err})
			return
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		siw.ErrorHandlerFunc(w, r, &RequiredParamError{ParamName: "{{ .Name }}"})
		return
	}{{ end }}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, r.URL.Query(), &params.{{ .GoName }})
	if err != nil {
		siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{ .Name }}", Err: err})
		return
	}
{{- end }}
{{ end }}
{{ if .HeaderParams }}
	headers := r.Header
{{ range .HeaderParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} header parameter "{{ .Name }}" -------------
	if valueList, found := headers[http.CanonicalHeaderKey("{{ .Name }}")]; found {
		var {{ .GoVariableName }} {{ .TypeDecl }}
		n := len(valueList)
		if n != 1 {
			siw.ErrorHandlerFunc(w, r, &TooManyValuesForParamError{ParamName: "{{ .Name }}", Count: n})
			return
		}
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}valueList[0]
{{- end }}
{{- if .IsJSON }}
		err = json.Unmarshal([]byte(valueList[0]), &{{ .GoVariableName }})
		if err != nil {
			siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{ .Name }}", Err: err})
			return
		}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
		if err != nil {
			siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{ .Name }}", Err: err})
			return
		}
{{- end }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
	}{{ if .Required }} else {
		err := fmt.Errorf("Header parameter {{ .Name }} is required, but not found")
		siw.ErrorHandlerFunc(w, r, &RequiredHeaderError{ParamName: "{{ .Name }}", Err: err})
		return
	}{{ end }}
{{ end }}
{{ end }}
{{ range .CookieParams }}
	{
		var cookie *http.Cookie
		if cookie, err = r.Cookie("{{ .Name }}"); err == nil {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}cookie.Value
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			decoded, err := url.QueryUnescape(cookie.Value)
			if err != nil {
				siw.ErrorHandlerFunc(w, r, &UnescapedCookieParamError{ParamName: "{{ .Name }}", Err: err})
				return
			}
			err = json.Unmarshal([]byte(decoded), &value)
			if err != nil {
				siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{ .Name }}", Err: err})
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsStyled }}
			var value {{ .TypeDecl }}
			err = {{ .BindFunc }}("{{ .Name }}", ParamLocationCookie, cookie.Value, &value)
			if err != nil {
				siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{ .Name }}", Err: err})
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			siw.ErrorHandlerFunc(w, r, &RequiredParamError{ParamName: "{{ .Name }}"})
			return
		}{{ end }}
	}
{{ end }}
{{ end }}
	handler := http.Handler(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		siw.Handler.{{ .GoOperationID }}(w, r{{ range .PathParams }}, {{ .GoVariableName }}{{ end }}{{ if .HasParams }}, params{{ end }})
	}))

	for _, middleware := range siw.HandlerMiddlewares {
		handler = middleware(handler)
	}

	handler.ServeHTTP(w, r)
}
{{ end }}
