{{- /*
  This template generates the receiver interface and handler functions for Echo v4.
  Input: ReceiverTemplateData
*/ -}}

// {{ .Prefix }}ReceiverInterface represents handlers for receiving {{ .PrefixLower }} requests.
type {{ .Prefix }}ReceiverInterface interface {
{{- range .Operations }}
{{ .SummaryAsComment }}
	// Handle{{ .GoOperationID }}{{ $.Prefix }} handles the {{ .Method }} {{ $.PrefixLower }} request.
	Handle{{ .GoOperationID }}{{ $.Prefix }}(ctx echo.Context{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }}) error
{{- end }}
}

{{ range .Operations }}
// {{ .GoOperationID }}{{ $.Prefix }}Handler returns an echo.HandlerFunc for the {{ .GoOperationID }} {{ $.PrefixLower }}.
// The caller is responsible for registering this handler at the appropriate path.
func {{ .GoOperationID }}{{ $.Prefix }}Handler(si {{ $.Prefix }}ReceiverInterface) echo.HandlerFunc {
	return func(ctx echo.Context) error {
{{- if .HasParams }}
		var err error
		_ = err

		var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
{{- if or .Required .IsPassThrough .IsJSON }}
		if paramValue := ctx.QueryParam("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			err = json.Unmarshal([]byte(paramValue), &value)
			if err != nil {
				return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Query parameter {{ .Name }} is required"))
		}{{ end }}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, ctx.QueryParams(), &params.{{ .GoName }})
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
{{- end }}
{{ end }}
{{ range .HeaderParams }}
		if valueList := ctx.Request().Header[http.CanonicalHeaderKey("{{ .Name }}")]; len(valueList) > 0 {
			var {{ .GoVariableName }} {{ .TypeDecl }}
			n := len(valueList)
			if n != 1 {
				return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Expected one value for {{ .Name }}, got %d", n))
			}
{{- if .IsStyled }}
			err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
			if err != nil {
				return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			}
{{- end }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
		}{{ if .Required }} else {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Header parameter {{ .Name }} is required"))
		}{{ end }}
{{ end }}
{{- end }}
		return si.Handle{{ .GoOperationID }}{{ $.Prefix }}(ctx{{ if .HasParams }}, params{{ end }})
	}
}
{{ end }}
