{{- /*
  This template generates the ServerInterface for Iris servers.
  Input: []OperationDescriptor
*/ -}}

// ServerInterface represents all server handlers.
type ServerInterface interface {
{{- range . }}
{{ .SummaryAsComment }}
	// ({{ .Method }} {{ .Path }})
	{{ .GoOperationID }}(ctx iris.Context{{ range .PathParams }}, {{ .GoVariableName }} {{ .TypeDecl }}{{ end }}{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }})
{{- end }}
}
