{{- /*
  This template generates the receiver interface and handler functions for Iris.
  Input: ReceiverTemplateData
*/ -}}

// {{ .Prefix }}ReceiverInterface represents handlers for receiving {{ .PrefixLower }} requests.
type {{ .Prefix }}ReceiverInterface interface {
{{- range .Operations }}
{{ .SummaryAsComment }}
	// Handle{{ .GoOperationID }}{{ $.Prefix }} handles the {{ .Method }} {{ $.PrefixLower }} request.
	Handle{{ .GoOperationID }}{{ $.Prefix }}(ctx iris.Context{{ if .HasParams }}, params {{ .ParamsTypeName }}{{ end }})
{{- end }}
}

{{ range .Operations }}
// {{ .GoOperationID }}{{ $.Prefix }}Handler returns an iris.Handler for the {{ .GoOperationID }} {{ $.PrefixLower }}.
// The caller is responsible for registering this handler at the appropriate path.
func {{ .GoOperationID }}{{ $.Prefix }}Handler(si {{ $.Prefix }}ReceiverInterface) iris.Handler {
	return func(ctx iris.Context) {
{{- if .HasParams }}
		var err error
		_ = err

		var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
{{- if or .Required .IsPassThrough .IsJSON }}
		if paramValue := ctx.URLParam("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
			var value {{ .TypeDecl }}
			err = json.Unmarshal([]byte(paramValue), &value)
			if err != nil {
				ctx.StatusCode(http.StatusBadRequest)
				_, _ = ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
				return
			}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
		}{{ if .Required }} else {
			ctx.StatusCode(http.StatusBadRequest)
			_, _ = ctx.WriteString("Query parameter {{ .Name }} is required")
			return
		}{{ end }}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, ctx.Request().URL.Query(), &params.{{ .GoName }})
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			_, _ = ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			return
		}
{{- end }}
{{ end }}
{{ range .HeaderParams }}
		if valueList := ctx.Request().Header[http.CanonicalHeaderKey("{{ .Name }}")]; len(valueList) > 0 {
			var {{ .GoVariableName }} {{ .TypeDecl }}
			n := len(valueList)
			if n != 1 {
				ctx.StatusCode(http.StatusBadRequest)
				_, _ = ctx.WriteString(fmt.Sprintf("Expected one value for {{ .Name }}, got %d", n))
				return
			}
{{- if .IsStyled }}
			err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
			if err != nil {
				ctx.StatusCode(http.StatusBadRequest)
				_, _ = ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
				return
			}
{{- end }}
			params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
		}{{ if .Required }} else {
			ctx.StatusCode(http.StatusBadRequest)
			_, _ = ctx.WriteString("Header parameter {{ .Name }} is required")
			return
		}{{ end }}
{{ end }}
{{- end }}
		si.Handle{{ .GoOperationID }}{{ $.Prefix }}(ctx{{ if .HasParams }}, params{{ end }})
	}
}
{{ end }}
