{{- /*
  This template generates the ServerInterfaceWrapper that extracts parameters
  from HTTP requests and calls the ServerInterface methods for Iris.
  Input: []OperationDescriptor
*/ -}}

// ServerInterfaceWrapper converts iris contexts to parameters.
type ServerInterfaceWrapper struct {
	Handler ServerInterface
}

{{ range . }}
// {{ .GoOperationID }} converts iris context to params.
func (w *ServerInterfaceWrapper) {{ .GoOperationID }}(ctx iris.Context) {
{{- if or .PathParams .HasParams }}
	var err error
{{- end }}
{{ range .PathParams }}
	// ------------- Path parameter "{{ .Name }}" -------------
	var {{ .GoVariableName }} {{ .TypeDecl }}
{{ if .IsPassThrough }}
	{{ .GoVariableName }} = ctx.Params().Get("{{ .Name }}")
{{- end }}
{{- if .IsJSON }}
	err = json.Unmarshal([]byte(ctx.Params().Get("{{ .Name }}")), &{{ .GoVariableName }})
	if err != nil {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString(fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
		return
	}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", ParamLocationPath, ctx.Params().Get("{{ .Name }}"), &{{ .GoVariableName }})
	if err != nil {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		return
	}
{{- end }}
{{ end }}
{{- if .Security }}
{{- range .Security }}
	ctx.Values().Set({{ .Name | toGoIdentifier }}Scopes, []string{ {{- range $i, $s := .Scopes }}{{ if $i }}, {{ end }}"{{ $s }}"{{ end -}} })
{{- end }}
{{- end }}
{{ if .HasParams }}
	// Parameter object where we will unmarshal all parameters from the context
	var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} query parameter "{{ .Name }}" -------------
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, ctx.Request().URL.Query(), &params.{{ .GoName }})
	if err != nil {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		return
	}
{{- else }}
	if paramValue := ctx.URLParam("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		err = json.Unmarshal([]byte(paramValue), &value)
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
			return
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString("Query argument {{ .Name }} is required, but not found")
		return
	}{{ end }}
{{- end }}
{{ end }}
{{ if .HeaderParams }}
	headers := ctx.Request().Header
{{ range .HeaderParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} header parameter "{{ .Name }}" -------------
	if valueList, found := headers[http.CanonicalHeaderKey("{{ .Name }}")]; found {
		var {{ .GoVariableName }} {{ .TypeDecl }}
		n := len(valueList)
		if n != 1 {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Expected one value for {{ .Name }}, got %d", n))
			return
		}
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}valueList[0]
{{- end }}
{{- if .IsJSON }}
		err = json.Unmarshal([]byte(valueList[0]), &{{ .GoVariableName }})
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
			return
		}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			return
		}
{{- end }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
	}{{ if .Required }} else {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString("Header {{ .Name }} is required, but not found")
		return
	}{{ end }}
{{ end }}
{{ end }}
{{ range .CookieParams }}
	if cookie := ctx.GetCookie("{{ .Name }}"); cookie != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}cookie
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		decoded, err := url.QueryUnescape(cookie)
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Error unescaping cookie parameter '%s'", "{{ .Name }}"))
			return
		}
		err = json.Unmarshal([]byte(decoded), &value)
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
			return
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsStyled }}
		var value {{ .TypeDecl }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationCookie, cookie, &value)
		if err != nil {
			ctx.StatusCode(http.StatusBadRequest)
			ctx.WriteString(fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
			return
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		ctx.StatusCode(http.StatusBadRequest)
		ctx.WriteString("Cookie {{ .Name }} is required, but not found")
		return
	}{{ end }}
{{ end }}
{{ end }}
	// Invoke the callback with all the unmarshaled arguments
	w.Handler.{{ .GoOperationID }}(ctx{{ range .PathParams }}, {{ .GoVariableName }}{{ end }}{{ if .HasParams }}, params{{ end }})
}
{{ end }}
