// {{names.GinServerOptions}} provides options for the Gin server.
type {{names.GinServerOptions}} struct {
    BaseURL string
    Middlewares []{{names.MiddlewareFunc}}
    ErrorHandler func(*gin.Context, error, int)
}

// {{names.RegisterHandlers}} creates http.Handler with routing matching OpenAPI spec.
func {{names.RegisterHandlers}}(router gin.IRouter, si {{names.ServerInterface}}) {
  {{names.RegisterHandlersWithOptions}}(router, si, {{names.GinServerOptions}}{})
}

// {{names.RegisterHandlersWithOptions}} creates http.Handler with additional options
func {{names.RegisterHandlersWithOptions}}(router gin.IRouter, si {{names.ServerInterface}}, options {{names.GinServerOptions}}) {
    {{- if . -}}
    errorHandler := options.ErrorHandler
    if errorHandler == nil {
        errorHandler = func(c *gin.Context, err error, statusCode int) {
            c.JSON(statusCode, gin.H{"msg": err.Error()})
        }
    }

    wrapper := {{names.ServerInterfaceWrapper}}{
        Handler: si,
        HandlerMiddlewares: options.Middlewares,
        ErrorHandler: errorHandler,
    }
    {{end}}

    {{range . -}}
    router.{{.Method }}(options.BaseURL+{{.Path | swaggerUriToGinUri | toGoString}}, wrapper.{{.HandlerName}})
    {{end -}}
}
