// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .OperationDefinitions}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(c *gin.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}})
{{end}}
}

{{if gt (len .GetAllSanitizedMiddlewares ) 0}}
// TaggedMiddlewaresInterface represents all middlewares specified with
// "x-oapi-codegen-middlewares" API extension
type TaggedMiddlewaresInterface interface {
{{range .GetAllSanitizedMiddlewares }}
{{.}}(c *gin.Context)
{{- end}}
}
{{end}}
