{{- /*
  This template generates the ServerInterfaceWrapper that extracts parameters
  from HTTP requests and calls the ServerInterface methods for Echo v5.
  Input: []OperationDescriptor
*/ -}}

// ServerInterfaceWrapper converts echo contexts to parameters.
type ServerInterfaceWrapper struct {
	Handler ServerInterface
}

{{ range . }}
// {{ .GoOperationID }} converts echo context to params.
func (w *ServerInterfaceWrapper) {{ .GoOperationID }}(ctx *echo.Context) error {
	var err error

{{ range .PathParams }}
	// ------------- Path parameter "{{ .Name }}" -------------
	var {{ .GoVariableName }} {{ .TypeDecl }}
{{ if .IsPassThrough }}
	{{ .GoVariableName }} = ctx.Param("{{ .Name }}")
{{- end }}
{{- if .IsJSON }}
	err = json.Unmarshal([]byte(ctx.Param("{{ .Name }}")), &{{ .GoVariableName }})
	if err != nil {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
	}
{{- end }}
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", ParamLocationPath, ctx.Param("{{ .Name }}"), &{{ .GoVariableName }})
	if err != nil {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
	}
{{- end }}
{{ end }}
{{- if .Security }}
{{- range .Security }}
	ctx.Set({{ .Name | toGoIdentifier }}Scopes, []string{ {{- range $i, $s := .Scopes }}{{ if $i }}, {{ end }}"{{ $s }}"{{ end -}} })
{{- end }}
{{- end }}
{{ if .HasParams }}
	// Parameter object where we will unmarshal all parameters from the context
	var params {{ .ParamsTypeName }}
{{ range .QueryParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} query parameter "{{ .Name }}" -------------
{{- if .IsStyled }}
	err = {{ .BindFunc }}("{{ .Name }}", {{ .Required }}, ctx.QueryParams(), &params.{{ .GoName }})
	if err != nil {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
	}
{{- else }}
	if paramValue := ctx.QueryParam("{{ .Name }}"); paramValue != "" {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}paramValue
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		err = json.Unmarshal([]byte(paramValue), &value)
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Query argument {{ .Name }} is required, but not found"))
	}{{ end }}
{{- end }}
{{ end }}
{{ if .HeaderParams }}
	headers := ctx.Request().Header
{{ range .HeaderParams }}
	// ------------- {{ if .Required }}Required{{ else }}Optional{{ end }} header parameter "{{ .Name }}" -------------
	if valueList, found := headers[http.CanonicalHeaderKey("{{ .Name }}")]; found {
		var {{ .GoVariableName }} {{ .TypeDecl }}
		n := len(valueList)
		if n != 1 {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Expected one value for {{ .Name }}, got %d", n))
		}
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}valueList[0]
{{- end }}
{{- if .IsJSON }}
		err = json.Unmarshal([]byte(valueList[0]), &{{ .GoVariableName }})
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
		}
{{- end }}
{{- if .IsStyled }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationHeader, valueList[0], &{{ .GoVariableName }})
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
{{- end }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}{{ .GoVariableName }}
	}{{ if .Required }} else {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Header parameter {{ .Name }} is required, but not found"))
	}{{ end }}
{{ end }}
{{ end }}
{{ range .CookieParams }}
	if cookie, err := ctx.Cookie("{{ .Name }}"); err == nil {
{{- if .IsPassThrough }}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}cookie.Value
{{- end }}
{{- if .IsJSON }}
		var value {{ .TypeDecl }}
		decoded, err := url.QueryUnescape(cookie.Value)
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Error unescaping cookie parameter '%s'", "{{ .Name }}"))
		}
		err = json.Unmarshal([]byte(decoded), &value)
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Error unmarshaling parameter '%s' as JSON", "{{ .Name }}"))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
{{- if .IsStyled }}
		var value {{ .TypeDecl }}
		err = {{ .BindFunc }}("{{ .Name }}", ParamLocationCookie, cookie.Value, &value)
		if err != nil {
			return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Invalid format for parameter {{ .Name }}: %s", err))
		}
		params.{{ .GoName }} = {{ if .HasOptionalPointer }}&{{ end }}value
{{- end }}
	}{{ if .Required }} else {
		return echo.NewHTTPError(http.StatusBadRequest, fmt.Sprintf("Query argument {{ .Name }} is required, but not found"))
	}{{ end }}
{{ end }}
{{ end }}
	// Invoke the callback with all the unmarshaled arguments
	err = w.Handler.{{ .GoOperationID }}(ctx{{ range .PathParams }}, {{ .GoVariableName }}{{ end }}{{ if .HasParams }}, params{{ end }})
	return err
}
{{ end }}
