// {{names.IrisServerOptions}} is the option for iris server
type {{names.IrisServerOptions}} struct {
    BaseURL string
    Middlewares []{{names.MiddlewareFunc}}
}

// {{names.RegisterHandlers}} creates http.Handler with routing matching OpenAPI spec.
func {{names.RegisterHandlers}}(router *iris.Application, si {{names.ServerInterface}}) {
    {{names.RegisterHandlersWithOptions}}(router, si, {{names.IrisServerOptions}}{})
}


// {{names.RegisterHandlersWithOptions}} creates http.Handler with additional options
func {{names.RegisterHandlersWithOptions}}(router *iris.Application, si {{names.ServerInterface}}, options {{names.IrisServerOptions}}) {
    for _, m := range options.Middlewares {
        router.Use(m)
    }

{{if .}}
    wrapper := {{names.ServerInterfaceWrapper}}{
        Handler: si,
    }
{{end}}
{{range .}}router.{{.Method | lower | title}}(options.BaseURL + {{.Path | swaggerUriToIrisUri | toGoString}}, wrapper.{{.HandlerName}})
{{end}}
    router.Build()
}
