{{range .Types}}{{$addType := .Schema.AdditionalPropertiesType.TypeDecl}}

// Override default XML handling for {{.TypeName}} to handle AdditionalProperties
func (a *{{.TypeName}}) UnmarshalXML(d *xml.Decoder, start xml.StartElement) error {
    return errors.New("addditional properties are not supported via xml")
}

// Override default XML handling for {{.TypeName}} to handle AdditionalProperties
func (a {{.TypeName}}) MarshalXML(e *xml.Encoder, start xml.StartElement) error {
    return errors.New("addditional properties are not supported via xml")
}
{{end}}
