// Handler creates http.Handler with routing matching OpenAPI spec.
func Handler(si ServerInterface) http.Handler {
  r := chi.NewRouter()

    r.Route("{{.BasePath}}", func(r chi.Router) {
        {{- range .Defenitions }}
            r.With({{.OperationId}}Ctx).{{.Method | lower | title }}("{{.Path | swaggerUriToChiUri}}", si.{{.OperationId}})
        {{- end}}
    })

  return r
}
