{{- if not opts.OutputOptions.CustomDoer.Enabled}}
// Doer performs HTTP requests.
//
// The standard http.Client implements this interface.
type HttpRequestDoer interface {
	Do(req *http.Request) (*http.Response, error)
}
{{- end}}
{{$doerName :=  iif opts.OutputOptions.CustomDoer.Enabled opts.OutputOptions.CustomDoer.Name "HttpRequestDoer" }}

{{$clientTypeName := opts.OutputOptions.ClientTypeName -}}

// {{ $clientTypeName }} which conforms to the OpenAPI3 specification for this service.
type {{ $clientTypeName }} struct {
    // list of connected client services
    {{range . -}}
    {{$pname := .PackageName -}}
    {{$sname := .ServiceName -}}
        {{$sname}} *{{$pname}}.{{ $clientTypeName }}
    {{end}}
	// The endpoint of the server conforming to this interface, with scheme,
	// https://api.deepmap.com for example. This can contain a path relative
	// to the server, such as https://api.deepmap.com/dev-test, and all the
	// paths in the swagger spec will be appended to the server.
	Server string

	// Doer for performing requests, typically a *http.Client with any
	// customized settings, such as certificate chains.
	Client {{$doerName}}

}

// ClientOption allows setting custom parameters during construction
type ClientOption func(*{{ $clientTypeName }}) error

func NewClient(server string, opts ...ClientOption) (*{{ $clientTypeName }}, error) {
    // create a factory client
    client := {{ $clientTypeName }}{
        Server: server,
    }
    // mutate client and add all optional params
    for _, o := range opts {
        if err := o(&client); err != nil {
            return nil, err
        }
    }
    // ensure the server URL always has a trailing slash
    if !strings.HasSuffix(client.Server, "/") {
        client.Server += "/"
    }
    {{- if not opts.OutputOptions.CustomDoer.Enabled}}
    // create httpClient, if not already present
    if client.Client == nil {
        client.Client = &http.Client{}
    }
    {{- end}}
    
    {{range . -}}
    {{$pname := .PackageName -}}
    {{$sname := .ServiceName -}}
    client.{{$sname}} = {{$pname}}.NewClient(server, client.Client)
    {{end}}

    return &client, nil
}

// WithHTTPClient allows overriding the default Doer, which is
// automatically created using http.Client. This is useful for tests.
func WithHTTPClient(doer {{$doerName}}) ClientOption {
	return func(c *{{ $clientTypeName }}) error {
		c.Client = doer
		return nil
	}
}

// WithBaseURL overrides the baseURL.
func WithBaseURL(baseURL string) ClientOption {
	return func(c *{{ $clientTypeName }}) error {
		newBaseURL, err := url.Parse(baseURL)
		if err != nil {
			return err
		}
		c.Server = newBaseURL.String()
		return nil
	}
}
