// {{names.FiberServerOptions}} provides options for the Fiber server.
type {{names.FiberServerOptions}} struct {
    BaseURL string
    Middlewares []{{names.MiddlewareFunc}}
    HandlerMiddlewares []{{names.Fiber.HandlerMiddlewareFunc}}
}

// {{names.RegisterHandlers}} creates http.Handler with routing matching OpenAPI spec.
func {{names.RegisterHandlers}}(router fiber.Router, si {{names.ServerInterface}}) {
  {{names.RegisterHandlersWithOptions}}(router, si, {{names.FiberServerOptions}}{})
}

// {{names.RegisterHandlersWithOptions}} creates http.Handler with additional options
func {{names.RegisterHandlersWithOptions}}(router fiber.Router, si {{names.ServerInterface}}, options {{names.FiberServerOptions}}) {
{{if .}}wrapper := {{names.ServerInterfaceWrapper}}{
Handler: si,
HandlerMiddlewares: options.HandlerMiddlewares,
}

for _, m := range options.Middlewares {
    router.Use(fiber.Handler(m))
}
{{end}}
{{range .}}
router.{{.Method | lower | title }}(options.BaseURL+{{.Path | swaggerUriToFiberUri | toGoString}}, wrapper.{{.HandlerName}})
{{end}}
}
