{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
// {{.TypeName}} defines parameters for {{$opid}}.
type {{.TypeName}} {{.Schema.TypeDecl}}

{{if .Schema.GoValidationCall}}
// Validate performs validation on the current {{.TypeName}}.
func (s {{.TypeName}}) Validate() error {
    return {{.Schema.GoValidationCall}}
}
{{end}}
{{end}}
{{end}}
