{{range .}}{{$opid := .OperationId}}
{{range .Bodies}}
{{if .IsSupported -}}
{{$contentType := .ContentType -}}
{{with .TypeDef $opid}}
// {{.TypeName}} defines body for {{$opid}} for {{$contentType}} ContentType.
type {{.TypeName}} {{if and (opts.AliasTypes) (.CanAlias)}}={{end}} {{.Schema.TypeDecl}}
{{end}}
{{end}}
{{end}}
{{end}}