{{range .Types}}
    {{$typeName := .TypeName -}}
    {{$discriminator := .Schema.Discriminator}}
    {{$properties := .Schema.Properties -}}
    {{range .Schema.UnionElements}}
        {{$element := . -}}
        // As{{ .Method }} returns the union data inside the {{$typeName}} as a {{.}}
        func (t {{$typeName}}) As{{ .Method }}() ({{.}}, error) {
            var body {{.}}
            err := json.Unmarshal(t.union, &body)
            return body, err
        }

        // From{{ .Method }} overwrites any union data inside the {{$typeName}} as the provided {{.}}
        func (t *{{$typeName}}) From{{ .Method }} (v {{.}}) error {
            {{if $discriminator -}}
                {{range $value, $type := $discriminator.Mapping -}}
                    {{if eq $type $element -}}
                        {{$hasProperty := false -}}
                        {{range $properties -}}
                            {{if eq .GoFieldName $discriminator.PropertyName -}}
                                t.{{$discriminator.PropertyName}} = "{{$value}}"
                                {{$hasProperty = true -}}
                            {{end -}}
                        {{end -}}
                        {{if not $hasProperty}}v.{{$discriminator.PropertyName}} = "{{$value}}"{{end}}
                    {{end -}}
                {{end -}}
            {{end -}}
            b, err := json.Marshal(v)
            t.union = b
            return err
        }

        // Merge{{ .Method }} performs a merge with any union data inside the {{$typeName}}, using the provided {{.}}
        func (t *{{$typeName}}) Merge{{ .Method }} (v {{.}}) error {
            {{if $discriminator -}}
                {{range $value, $type := $discriminator.Mapping -}}
                    {{if eq $type $element -}}
                        {{$hasProperty := false -}}
                        {{range $properties -}}
                            {{if eq .GoFieldName $discriminator.PropertyName -}}
                                t.{{$discriminator.PropertyName}} = "{{$value}}"
                                {{$hasProperty = true -}}
                            {{end -}}
                        {{end -}}
                        {{if not $hasProperty}}v.{{$discriminator.PropertyName}} = "{{$value}}"{{end}}
                    {{end -}}
                {{end -}}
            {{end -}}
            b, err := json.Marshal(v)
            if err != nil {
              return err
            }

            merged, err := runtime.JSONMerge(t.union, b)
            t.union = merged
            return err
        }
    {{end}}

    {{if $discriminator}}
        func (t {{.TypeName}}) Discriminator() (string, error) {
            var discriminator struct {
                Discriminator string {{$discriminator.JSONTag}}
            }
            err := json.Unmarshal(t.union, &discriminator)
            return discriminator.Discriminator, err
        }

        {{if ne 0 (len $discriminator.Mapping)}}
            func (t {{.TypeName}}) ValueByDiscriminator() (interface{}, error) {
                discriminator, err := t.Discriminator()
                if err != nil {
                    return nil, err
                }
                switch discriminator{
                    {{range $value, $type := $discriminator.Mapping -}}
                        case "{{$value}}":
                            return t.As{{$type}}()
                    {{end -}}
                    default:
                        return nil, errors.New("unknown discriminator value: "+discriminator)
                }
            }
        {{end}}
    {{end}}

    {{if not .Schema.HasAdditionalProperties}}

    func (t {{.TypeName}}) MarshalJSON() ([]byte, error) {
        b, err := t.union.MarshalJSON()
        {{if ne 0 (len .Schema.Properties) -}}
            if err != nil {
                return nil, err
            }
            object := make(map[string]json.RawMessage)
            if t.union != nil {
              err = json.Unmarshal(b, &object)
              if err != nil {
                return nil, err
              }
            }
            {{range .Schema.Properties}}
            {{if .RequiresNilCheck}}if t.{{.GoFieldName}} != nil { {{end}}
                object["{{.JsonFieldName}}"], err = json.Marshal(t.{{.GoFieldName}})
                if err != nil {
                    return nil, fmt.Errorf("error marshaling '{{.JsonFieldName}}': %w", err)
                }
            {{if .RequiresNilCheck}} }{{end}}
            {{end -}}
            b, err = json.Marshal(object)
        {{end -}}
        return b, err
    }

    func (t *{{.TypeName}}) UnmarshalJSON(b []byte) error {
        err := t.union.UnmarshalJSON(b)
        {{if ne 0 (len .Schema.Properties) -}}
            if err != nil {
                return err
            }
            object := make(map[string]json.RawMessage)
            err = json.Unmarshal(b, &object)
            if err != nil {
                return err
            }
            {{range .Schema.Properties}}
                if raw, found := object["{{.JsonFieldName}}"]; found {
                    err = json.Unmarshal(raw, &t.{{.GoFieldName}})
                    if err != nil {
                        return fmt.Errorf("error reading '{{.JsonFieldName}}': %w", err)
                    }
                }
            {{end}}
        {{end -}}
        return err
    }
    {{end}}
{{end}}
