// Handler creates fiber.Handler with routing matching OpenAPI spec.
func Handler(si ServerInterface) fiber.Handler {
  return HandlerWithOptions(si, FiberServerOptions{})
}

type FiberServerOptions struct {
    BaseURL string
    BaseRouter *fiber.App
    Middlewares []fiber.Handler
    ErrorHandlerFunc   func(c *fiber.Ctx, err error) error
}

// HandlerFromMux creates fiber.Handler with routing matching OpenAPI spec based on the provided mux.
func HandlerFromMux(si ServerInterface, r *fiber.App) fiber.Handler {
    return HandlerWithOptions(si, FiberServerOptions {
        BaseRouter: r,
    })
}

func HandlerFromMuxWithBaseURL(si ServerInterface, r *fiber.App, baseURL string) fiber.Handler {
    return HandlerWithOptions(si, FiberServerOptions {
        BaseURL: baseURL,
        BaseRouter: r,
    })
}

// HandlerWithOptions creates fiber.Handler with additional options
func HandlerWithOptions(si ServerInterface, options FiberServerOptions) fiber.Handler {
r := options.BaseRouter

if r == nil {
r = fiber.New()
}

if options.ErrorHandlerFunc == nil {
    options.ErrorHandlerFunc = func(c *fiber.Ctx, err error) error {

        if err != nil {
            c.Status(http.StatusBadRequest)
            return c.SendString(err.Error())
        }

        return c.SendStatus(http.StatusBadRequest)
    }
}

{{if .}}wrapper := ServerInterfaceWrapper{
Handler: si,
HandlerMiddlewares: options.Middlewares,
ErrorHandlerFunc: options.ErrorHandlerFunc,
}
{{end}}
{{range .}}
r.{{.Method | lower | title }}(options.BaseURL+"{{.Path | swaggerUriToFiberUri}}", wrapper.{{.OperationId}})
{{end}}
return r
}
