name: CI
on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  build:
    uses: oapi-codegen/actions/.github/workflows/ci.yml@75566d848d25021f137594c947f26171094fb511 # v0.5.0
    with:
      excluding_versions: '["1.22", "1.23"]'
      lint_versions: '["1.25"]'

  build-binaries:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        version:
          - "stable"
          - "oldstable"
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.version }}

      - name: Build
        run: go build ./cmd/oapi-codegen
        env:
          # A combination of our GitHub Actions setup, with the Go toolchain, leads to inconsistencies in calling `go env`, in particular with Go 1.21, where having (the default) `GOTOOLCHAIN=auto` results in build failures
          GOTOOLCHAIN: local
